body{
    background-color: #DEEFE3;
}

main{
    flex: 20 1 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.conteiner{
    width: 100%;
    height: 309px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    align-items: center;
    justify-content: center;
}