* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    flex: 1 1 100vw;
    background-color: #DEEFE3;
}

header, nav, main, aside, footer{
    display: flex;
    margin: 0px;
    background-color: transparent;
}
/* header */
header {
    flex: 1 1 100vw;
    height: 142px;
    border-style: none;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-left: 33px;
}

.busca {
    margin-left: 97px;
    margin-right: 97px;
    height: 38px;
    width: 450px;
    border-radius: 10px;
    border: 3px solid #414141;
    display: flex;
    padding: 3px;
}

#inpBusca {
    margin-left: 10px;
    margin-top: 4px;
    border: 0px;
    display: flex;
    width: 400px;
    outline: none;
    font-size: 14px;
    font-family: Arial;
}

.busca>img{
    display: flex;
}

.botoes{    
    border-style: none;
    width: 350px;
    height: 55px;
    margin-top: 4px;
    margin-right: 33px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.perfil{
    width: 55;
    height: 55;
    margin-left: 20px;
    padding-top: 0px;
    cursor:pointer;
}

.loginText{
    font-family: sans-serif;
    color:#414141;
    font-size: 25;
    padding: 9px;
    padding-top: 8px;
    width: 160px;
    height: 60px;
}

.carinho{
    margin-left: 30px;
}

/*nav*/
nav{
    flex: 1 1 100vw;
    height: 54px;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    box-shadow: 0px 3px 10px 0px rgb(0, 0, 0);
}
nav a{
    margin: 5%;
    font-size: 10pt;
}

a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white; 
}

/*principal*/
main{
    flex: 20 1 500px;
    height: auto;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divs3{
    display: flex;
    flex-direction: column;
}

.avalicao{
    width: 411px;
    height: 120px;
    background-color: white;
}

.textobox{
    font-size: 23px;
}

.endereco{
    width: 411px;
    height: 171px;
    background-color: white;
}

.final{
    width: 411px;
    height: 272px;
    background-color: white;
}
/*referencias*/
aside{
    flex: 1 1 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}


.conteiner{
    width: 100%;
    height: 309px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    align-items: center;
    justify-content: center;
}

.produto{
    width: 225px;
    height: 309px;
    margin: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

#imgProduto{
    border-radius: 10px 10px 0px 0px;
}

.boxtexto{
    width: 200px;
    height: 32px;
    margin-left: 12px;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boxavaliacao{
    float: right;
    margin-left: 10px;
}


.boxvalor{
    height: 30px;
    margin-left: 9px;
    margin-top: 16px;
    font-size: 15px;
    text-decoration: solid;
    text-align: center;
    background-color: transparent;
}

.boxcomprar{
    width: 202px;
    height: 41px;
    margin-left: 9px;   
    margin-right: 9px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    background-color:#414141;
}

/*Rodapé*/
footer{
    flex: 1 1 100vw;
    height: 100px;
}

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vh - 436px);
    }
    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
}
