header {
    flex: 1 1 100vw;
    height: 142px;
    display: flex;
    border-style: none;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.logo {
    margin-left: 33px;
}

.busca {
    margin-left: 97px;
    margin-right: 97px;
    height: 38px;
    width: 455px;
    border-radius: 10px;
    border: 3px solid #414141;
    display: flex;
    padding: 3px;
}

#inpBusca {
    margin-left: 8px;
    margin-top: 0px;
    border: 0px;
    display: flex;
    width: 400px;
    outline: none;
    font-size: 14px;
    font-family: Arial;
}

.busca>img{
    display: flex;
}

.botoes{    
    border-style: none;
    width: 350px;
    height: 55px;
    margin-top: 4px;
    margin-right: 33px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.perfil{
    width: 55;
    height: 55;
    margin-left: 20px;
    padding-top: 0px;
    cursor:pointer;
}

.loginText{
    width: 160px;
    height: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#414141;
    font-size: 25;
    padding: 9px;
    padding-top: 8px;
}

.loginText a{
    color:#414141;  
}

.carinho{
    margin-left: 30px;
}
