.barra{
    flex: 1 1 100vw;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #414141;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}
.barra a{
    margin: 5%;
    font-size: 10pt;
    text-decoration: none;
    color: white; 
}

.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}